## Identifiers
- used to difrenciate or identify the entites like functions, variables etc

In [9]:
var = 10
print(var)

10

In [10]:
var_ = 200
print(var_)

200

In [11]:
var@ = 100
print(var@)

SyntaxError: invalid syntax (2038150472.py, line 1)

- The variable can be a case sensitive
- Should not contain the special characters and begin or end with numbers

## Comments
- used to code more readable
- prevent executing the code while testing

In [16]:
data = 'This is the data sciencen \
Its chennai center'
data

'This is the data sciencen Its chennai center'

## Note:
- calling a variable simple without the print -> prints the data within the quotes
- whereas the print -> prints exactly within the statement

## Variable Assignment
- single Assignment
- multiple Assignment

In [19]:
a = "data sicence"
b = 10
c = 10.2

# prints in a single line
print(a, b, c)

# prints in multiple line
print(a)
print(b)
print(c)

# Assigning a single value for multiple variable
a = b = c = d = 10
print(a,b, c,d)

data sicence 10 10.2
data sicence
10
10.2
10 10 10 10

## Statements
- Anything given to the kernal is known a statements
- It can be a single line statement

In [20]:
3+2

5

In [23]:
# Single line statement
p1 = 20+30+40
print("p1", p1)

#Multiple line statement
p2 = 20+30\
+40+50
print("p2", p2)

p1 90
p2 140

## Data Types
- Numeric DataType

### Numeric datatype
- Int -> range (-infinity to +infinity) but no decimals
- float -> refers to decimals no maters its negative or positive
- complex -> real and imaginary part

In [26]:
#integer
l1 = 10

# float
l2 = 10.2

# to check the type of variable `type()` can be used.
print(type(l1))
print(type(l2))

# complex
a = 3+9j
print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>

In [27]:
# list of keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [29]:
# To use only the function in the package
from keyword import kwlist
print(kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Boolean
- True -> holds 1
- False -> holds 0

In [31]:
print(5 < 2)

False

In [32]:
s1 = False - 10
s1

-10

## Strings
- strings are immutable and cannot be changed directly once created.

In [40]:
s1 = 'welcome to data Scinece'

# string indexing
print("indexing -> ",s1[5])

# negative indexing
print("negative -> ",s1[-5])

# slicing -> get the required string (follows n-1 method)
print("sliced value -> ", s1[0:7])

# sliceing in negative value
print("negative slicing", s1[-23: -15])

# skiping the caharacters syntax -> var[start, end, value to skip]
s2 = "welcome"
print("skips the 1 char",s2[0:7:2])
print("skips the 2 char",s2[0:7:3])
print("skips the 3 char",s2[0:7:4])

indexing ->  m
negative ->  i
sliced value ->  welcome
negative slicing welcome
skips the 1 char wloe
skips the 2 char wce
skips the 3 char wo

In [42]:
# cannot update directly
s1 = "Hello Everyone"
s1[0:2] = "Te"
print(s1)

TypeError: 'str' object does not support item assignment

In [44]:
# replace is case sensitive method
s1 = s1.replace('He','Te')
s1

'Tello Everyone'

In [45]:
# deleting a string
del s1
s1

NameError: name 's1' is not defined

In [46]:
# string concatenation
'''  Merging the multiple strings using (+) '''
str1 = "Hello"
str2 = "World"
print(str1+str2)
print(str1,str2)
str3 = str1,str2
print(str3)

HelloWorld
Hello World
('Hello', 'World')

In [49]:
# membership operator `in` also a case sensitive
s2 = "Data science class started"
'science' in s2

True

In [50]:
# string partitioning -> split the strings to subStrings
s4 = "one,two,three"
s4.partition(",")

('one', ',', 'two,three')

In [67]:
# string functions

# count()
s2 = "Hello world Hello"
s2.count("o")

# strip() -> removes the spaces at start and end of a string
s5 = " Hello "
print(s5.strip())

# lstrip() -> removes left space of the string
print(s5.lstrip())

# rstrip() -> removes right space of the string
print(s5.rstrip())

# Upper case
print(s5.upper())

# Lower case
print(s5.lower())

# startswith -> check weather the strings is started with the specified value
print(s5.startswith(' H'))

# endswith -> check weather the strings is ended with the specified value
print(s5.endswith('da'))

# split -> will not show the seperator value and displays the sepetaed value as a list. -> default splits by the white space
print(s2.split("o"))

Hello
Hello
 Hello
 HELLO
 hello
True
False
['Hell', ' w', 'rld Hell', '']

In [81]:
data = "Data science and Data Analyst and Data Engineer is Avalible"
data = data.split('and')
data.append(d[2].replace(" is Avalible", ""))
data.pop(2)
data

['Data science ', ' Data Analyst ', ' Data Engineer']

In [86]:
a = int(input("enter"))
b = int(input("enter: "))
add = a+b
print("Added value is {}".format(add))

enter 10
enter:  10

Added value is 20

## Typecasting
- Auto typecasting
- force typecasting

In [87]:
# Auto typecasting -> float has the heigh ranking
c = 10+10.3+True+20+False
c

41.3

In [89]:
# force typecasting
a = 10

print(float(a))
print(int(50.42))

10.0
50

## Operators
 - used to perform the operations like Addition, subraction, Multiplication etc..

In [1]:
## Addition
a = 10
b = 20
print("Add",a+b)

## Subraction
print("sub",a-b)

## Multiplication
print("Mul",a*b)

## division
print("divi",a / b)

## floor division --> rounds up to least value
print("floor-division",a // b)

## Modules --> gives the remainder value
print("modules",a % b)

Add 30
sub -10
Mul 200
divi 0.5
floor-division 0
modules 10

## Comparision operator
 - equalto, notEqual, greaterthan, lesserthan, greaterthanorEqual, lesserthanorEqual, notEqual
 - This can Expect Boolean Answers

In [2]:
c = 10
d = 10.3

# greaterthan
print("greatethan",c > d)

# lesserthan
print("lesserthan",c < d)

# equalto
print("equalto",c == d)

# notEqual
print("notEqual",c != d)

# lessthanorEqual
print("lessthanorEqual",c <= d)

# greatethanorEqual
print("greatethanorEqual",c >= d)

greatethan False
lesserthan True
equalto False
notEqual True
lessthanorEqual True
greatethanorEqual False

## Logical Operators
    - And, Or, Not

In [4]:
x = True
y = False

# And
print("And", x and y)

# Or
print("Or", x or y)

# Not
print("Not", not(x and y))

And False
Or True
Not True

## Membership Operator
 - in, not in

In [5]:
python = "Hello world"

## in
print("in operator", 'He' in python)

## not in
print("not in operator", '2o' not in python)

in operator True
not in operator True

## Conditional statemenst
 - if the given condition is true then the if block code will be executed or else block will be executed.
 - by default there occurs a indentation after the next line of the condition.
 - if, elif, switch, nested-if

In [7]:
# if condition
if c == 10:
    print("if block executed")
else:
    print("else block excurted")

if block executed

In [13]:
# elif
age = int(input("Enter age "))
if age <= 3:
    print("babby")
elif age >= 10 and age < 20:
    print("teen")
elif age >= 20 and age <= 40:
    print("Adult")
else:
    print("aged")

Enter age  1

babby

In [23]:
## nested if -> A if contains another if
age = int(input("Enter age "))
if age >= 3:
    if age >= 10 and age <= 20:
        print("teen")
        if age <= 40:
            print("Adult")
    else:
        print("boy")
else:
    print("aged")

Enter age  15

teen
Adult

## DateTime Package

In [27]:
# datetime package
from datetime import date

## current date format wiil be as yyyy-mm-dd
print("current date",date.today())

current date 2023-08-27

In [32]:
today_date = date.today()

# only year
print("current year",today_date.year)

# only month
print("current month",today_date.month)

# only date
print("current date",today_date.day)

current year 2023
current month 8
current date 27

In [34]:
# new date by user
new_date = date(2023,8,27)
print(new_date)

2023-08-27

In [35]:
today_date.isoweekday() # --> used to check the weekday

7

In [36]:
today_date.isocalendar() # --> returns a year, week and weekday

datetime.IsoCalendarDate(year=2023, week=34, weekday=7)

In [46]:
# datetime module in datetime package
from datetime import datetime

date = datetime.now()
print("prints the date and time",date)

prints the date and time 2023-08-27 11:15:43.309838

In [47]:
print("prints only the date",datetime.date(date))

prints only the date 2023-08-27

In [48]:
print("To print only time", datetime.time(date))

To print only time 11:15:43.309838

In [55]:
# timedelta -> to check the future date or past date
from datetime import timedelta

current_date = datetime.now()
date_after_100_days = current_date + timedelta(days=100)

print("date after 100 date", datetime.date(date_after_100_days))

date_before_100_days = current_date + timedelta(days=-500)
print("date before 100 date", datetime.date(date_before_100_days))

date after 100 date 2023-12-05
date before 100 date 2022-04-14

In [72]:
# --> returns the current second
print("prints current second",datetime.now().second)

# --> returns current date and format to required type
print("prints current date",datetime.now().date().strftime("%d/%m/%Y, %H:%M:%S.%f")) 

# --> returns current datetime and format to required type
print("prints current date",datetime.now().strftime("%d/%m/%Y, %H:%M:%S.%f"))

prints current second 29
prints current date 27/08/2023, 00:00:00.000000
prints current date 27/08/2023, 12:04:29.857180

## List
 - stores sequence of characters of any data type
 - List are ordered, changable, and allow dupicates
 - Anything within the square brackets in known as list

In [117]:
lst = [1,2,3,4,5,6]
lst2 = [1,2,3, True, "Data"]

# check type
print(type(lst))

# Nested List
nested_lst = [1,2,3,[4,5]]

# indexing
print("indexing",lst[3])
print("Negative indexing", lst[-3])

# slicing
print("slicing", lst[1:3])
print("slicing in nested lst", nested_lst[3:])
print("Negative slicing", lst[-4: -1])

# reversing the list
print("reversing",lst[::-1])

# sort list in Asscending
lst.sort()
print("Ascending",lst)

# sort list in Descending
#lst.sort(reverse=True)
print("Descending",lst)

# Adding, Remove and Change items in list

# append used to add a item at the end of the list
# --> cannot add multiple elemnts in the list
#lst.append(False)
print("Adding in lst", lst)

# insert --> used to append item in specifed place
lst.insert(2, False)
print("inserted item in list", lst)

# pop used to remove the item in list

# poping using index value
lst.pop(lst2.pop(lst2[3]))
print("Removing in a list", lst)

# by default pops the last element in the list
lst.pop()
print("Removing in a list", lst)

# + --> concatination of the two lists

# join the lst using +
lst3 = lst + lst2
print("concated list",lst3)

# delete the list
del nested_lst[-1]
print("deleting in nested_lst",nested_lst)

# clear --> clears the data in the list
print(nested_lst.clear())

<class 'list'>
indexing 4
Negative indexing 4
slicing [2, 3]
slicing in nested lst [[4, 5]]
Negative slicing [3, 4, 5]
reversing [6, 5, 4, 3, 2, 1]
Ascending [1, 2, 3, 4, 5, 6]
Descending [1, 2, 3, 4, 5, 6]
Adding in lst [1, 2, 3, 4, 5, 6]
inserted item in list [1, 2, False, 3, 4, 5, 6]
Removing in a list [1, 2, 3, 4, 5, 6]
Removing in a list [1, 2, 3, 4, 5]
concated list [1, 2, 3, 4, 5, 1, 3, True, 'Data']
deleting in nested_lst [1, 2, 3]
None

In [120]:
# extend list
prime_numbers = [2, 3, 5]
numbers = [1, 4]
numbers.extend(prime_numbers)

numbers

[1, 4, 2, 3, 5]

## List Membership
 - in opertator and not in operator is used here

In [121]:
False not in numbers

True

In [122]:
False in numbers

False

In [134]:
lst6 = reversed(numbers)
print("reverse using the revesed method",list(lst6))

[5, 3, 2, 4, 1]

In [133]:
lst10 = [1,3,4,50,0]
lst10 = lst10[::-1]
print("reverse using colan",lst10)

lst10.reverse();
print("after using .reverse",lst10)

reverse using colan [0, 50, 4, 3, 1]
after using .reverse [1, 3, 4, 50, 0]

## All / Any
 - All is like a And
 - Any is like a Or
 - All --> will not accept any false values -> To Return True then the list should have no False value
 - any --> should have one true value -> return as True

In [138]:
# all
print("all in lst10",all(lst10))
print("all in lst2", all(lst2))

all in lst10 False
all in lst2 True

In [137]:
# any
print("any in lst10",any(lst10))
print("any in lst2",any(lst2))

any in lst10 True
any in lst2 True

# 02-09-2023

## Tuples
 - Ordered -> has some orders, 
 - It is Unchangable -> cannot change using indexing and no functions to make changes, does not allows the to change the value in the tuples using                              indexing or functions
 - allow duplicates -> allows to have the duplicates in the tuples.
 - accepts any data types in it like (int, float, list, tuples).

In [16]:
# tuple creation
t1 = (1,2,3,4,5,5)

# anything inside the paranthesis is known as tuple.
print("typeof", type(t1))

typeof <class 'tuple'>

In [17]:
# Multiple data types are accepted inside the tuples
t2 = (1,2.4, 1+3j, ["data", 1, 2.3, 3-2j], (10, 100.8))
print(t2)

(1, 2.4, (1+3j), ['data', 1, 2.3, (3-2j)], (10, 100.8))

In [22]:
# tuple indexing and slicing
# indexing
print("get the value bassed in provided index value",t1[3])

# slicing
t3= ('a','b','c','d','e','f','g','h','i','j','a')
print("slicing the tuples",t3[0:6])

# slice based on steps
print("slices based on the steps",t3[1:9:2])

get the value bassed in provided index value 4
slicing the tuples ('a', 'b', 'c', 'd', 'e', 'f')
slices based on the steps ('b', 'd', 'f', 'h')

In [23]:
# changes in tupes
t3[3] = "Three" # ---> Throws error

TypeError: 'tuple' object does not support item assignment

In [24]:
# delete the tupels specific element
del t3[3] # cannot delete a single element in the tuple or update the single element in the tuple

TypeError: 'tuple' object doesn't support item deletion

In [25]:
# clear menthod in tuple
print(t3.clear()) # --> throws some errors

AttributeError: 'tuple' object has no attribute 'clear'

In [26]:
# deleting the enitre tuple
del t3
print(t3) # -> thows errors like the elemnet is undefined / not defined

NameError: name 't3' is not defined

## Tuple functions
 - count, index
 - sort

In [29]:
# count in tuple
print("counts the provided element in tuple",t1.count(5))

# index -> shows the first instance of the specified value
print("index of the tuple ",t1.index(5))

counts the provided element in tuple 1
index of the tuple  4

In [36]:
# sorting in tuple
# - By default the sorted gives asscending order
# possible to sort if integer and float in the tuple.

t4 = (100, 30, 2000, 1.5)
print("Asscending sort the tuple", sorted(t4)) # -> sorted(t4, reverse=False) -> also returns the ascending order of tuple/list

print("Descending sort in tuple", sorted(t4, reverse=True))

Asscending sort the tuple [1.5, 30, 100, 2000]
Descending sort in tuple [2000, 100, 30, 1.5]

## Membersip in Tuple 
 - in,
 - not in

In [37]:
# returns boolean value after checking the value is if avalible or not
print(t2, "is the given tuple")
print("in operator",2.4 in t2)

(1, 2.4, (1+3j), ['data', 1, 2.3, (3-2j)], (10, 100.8)) is the given tuple
in operator True

In [38]:
# vice versa of in oprator
5 not in t2

True

## Set
 - cannot crete like list/tuple/dict
 - empty curly braces are considered as set
 - Anything inside the curley breaces will be considered as set other than the key value pairs.
 - It cannot update the value with indexing, but with the help of built in funtions is possible
 - Since it is unorders the indexing and slicing is not possible.
 - Also doesn't allow any duplicates values

In [11]:
s1 = {}
s2 = set(s1)
print(type(s2))

<class 'set'>

In [12]:
# set creation and accepts multiple data types except list, sets, dictionaries
s1 = {1,2.3, 'one', (2, "two", 1-3j)}
print("set s1", s1)

set s1 {(2, 'two', (1-3j)), 1, 2.3, 'one'}

In [13]:
# indexing is not possible
print("indexing",s1[2])

TypeError: 'set' object is not subscriptable

In [14]:
# add and remove items in set

# Adding in set .add() is used to add single element
s1.add('2')
print("After adding value",s1)

After adding value {1, 2.3, '2', (2, 'two', (1-3j)), 'one'}

In [15]:
# .update(...) can be used to add multiple values in the set
# since set is unordered the developer cannot specifed the place where value to be added
print("Before updating set", s1)
s2 = {"Hello", "world"}
s1.update(s2)
print("After updating set", s1)

Before updating set {1, 2.3, '2', (2, 'two', (1-3j)), 'one'}
After updating set {1, 2.3, '2', (2, 'two', (1-3j)), 'Hello', 'one', 'world'}

In [16]:
s1.update({"python", "AI"})
print("After updaing new values", s1)

After updaing new values {1, 2.3, '2', 'AI', (2, 'two', (1-3j)), 'Hello', 'one', 'world', 'python'}

In [17]:
# udpting the 
print("update with compplex data",s1.update({7-6j,"Hello"}))

update with compplex data None

In [18]:
## remove and discard
# remove
s1.remove(2.3)
print("After removing the data", s1)

After removing the data {1, '2', 'AI', (2, 'two', (1-3j)), 'Hello', 'one', (7-6j), 'world', 'python'}

In [20]:
# discard
s1.discard(1)
print("After discarding tuple", s1)

After discarding tuple {'2', 'AI', (2, 'two', (1-3j)), 'Hello', 'one', (7-6j), 'world', 'python'}

In [21]:
# clear --> clears data in the set
s1.clear()
print("After clearing the set", s1)

After clearing the set set()

In [22]:
# deleting the set -> after deleting shows not defined error
del s1
print("After deleting", s1)

NameError: name 's1' is not defined

In [25]:
s2 = {1, 2.4, 'add', True}

# Membersip
print(1 in s2, "in oprator")
print(2.4 not in s2, "not in oprator")

True in oprator
False not in oprator

# Dictionary
 - its is a type of key: value pair formats
 - its ordered, changeable and duplicates are not allowed
 - key must be in strings or numbers and where as the value are of any datatype
 - key and value are seperated by colon

In [26]:
# dictonary creation
d1 = {}

print("type of d1",type(d1))

type of d1 <class 'dict'>

In [34]:
d1 = {
    "num": [1,2,3],
    1: 100,
    10: 10.3,
    'c': True,
    't': (10, True, 1-2j),
    'd': { 'a': 10, 2: False }
}
print("dictionary",d1)

dictionary {'num': [1, 2, 3], 1: 100, 10: 10.3, 'c': True, 't': (10, True, (1-2j)), 'd': {'a': 10, 2: False}}

In [35]:
# get the specific key value from the dictonary
print("value of key 10", d1[10])

# display the keys of the dictionary
print("keys of d1", d1.keys())

# display the values of the dictionary
print("values of the d1", d1.values())

# display the both key and values
print("keys and values of the d1", d1.items())

value of key 10 10.3
keys of d1 dict_keys(['num', 1, 10, 'c', 't', 'd'])
values of the d1 dict_values([[1, 2, 3], 100, 10.3, True, (10, True, (1-2j)), {'a': 10, 2: False}])
keys and values of the d1 dict_items([('num', [1, 2, 3]), (1, 100), (10, 10.3), ('c', True), ('t', (10, True, (1-2j))), ('d', {'a': 10, 2: False})])

In [41]:
# indexing

# indexing for num
print("index value from dictionary", d1['d'][2])

index = list(d1.keys()).index('d')
print('prints the index of the key',index)

index value from dictionary False
prints the index of the key 5

In [42]:
# slicing is not possible

print("slicing", d1['num':'c']) # --> thows error

TypeError: unhashable type: 'slice'

In [9]:
# add, update an delete in dictionary

# add key value in dictionary
d1['new']="data"
print("After adding", d1)

# update the dictionary
d1['c'] = False
print("after updating the value of key c", d1)

# pop in dictionary
d1.pop('new')
print("after pop in dictionary", d1)

# popItem() --> randomly delet any one value
print("after popitem is used", d1.popitem())

# clear the items in dictionary
d1.clear()
print("After clearing", d1)

NameError: name 'd1' is not defined

In [10]:
# deleting the dictionary

del d1
print("After deleting the dictionary", d1) # --> throws error after deleting as not defined

NameError: name 'd1' is not defined

# While loop
 - Entry check loop
 - run the loop until the condition fails
 - check the condition fails for every the loop starts
 - At the we should have the incrementation

In [11]:
i=1
while i <= 6: 
    print(i,"is the value")
    i+=1

1 is the value
2 is the value
3 is the value
4 is the value
5 is the value
6 is the value

In [12]:
# continue if the condition is stisfied then it skips the next statement
i=1
while i <= 6: 
    if i == 3:
        i += 1
        continue
    print(i,"is the value")
    i+=1

1 is the value
2 is the value
4 is the value
5 is the value
6 is the value

In [13]:
# break if the condition is stisfied then the loop will be terminated
i = 1
while i <= 6: 
    if i == 3:
        i += 1
        break
    print(i,"is the value")
    i+=1

1 is the value
2 is the value

In [14]:
# pass -> avoids the error
# i = 1
# while i <= 6:
#     pass

In [15]:
# even numbers
i=1
while i<= 10:
    if i % 2 == 0:
        print(i, "even value")
    i+=1

2 even value
4 even value
6 even value
8 even value
10 even value

In [16]:
# odd numbers
i=1
while i<= 10:
    if i % 2 != 0:
        print(i, "odd value")
    i+=1

1 odd value
3 odd value
5 odd value
7 odd value
9 odd value

In [35]:
# task -> take out banglore
d2 = [0,1,2,3, [8,{5: [67, 89, 90]}, {"area":"kudlu","city":"bangalore"}]]
d2[4][2]['city']

'bangalore'

In [2]:
# task
i = 1
while i <= 10:
    print("value is", i * 10)
    i+=1

value is 10
value is 20
value is 30
value is 40
value is 50
value is 60
value is 70
value is 80
value is 90
value is 100

In [ ]:
# https://docs.python.org/3/library/stdtypes.html#set

## for loop
    - For loop is used to iterate the elements in the iteratable object and perform the action on the each elements and perform same actions on each elemnts
    - iteratable objets are like - list, tuple, set and dictionary.
    - iterating is nothing but accessing the each elements in the list or tuple or set or dictionary

In [2]:
# print the value of the list using for loop
a=[1,2,3,4,5]
for i in a:
    print("element value", i)

element value 1
element value 2
element value 3
element value 4
element value 5

In [3]:
# print the every elemnts n times using for loop
city_lst = ['chennai', 'bangalore', 'pune']
for city in city_lst:
    city = city + ' '
    print(city*2, end="\n")

chennai chennai
bangalore bangalore
pune pune

In [8]:
# print the keys from dictionary using for loop
d = {"area":"kudlu","city":"bangalore"}
for key in d.keys():
    print(key)

area
city

In [9]:
# print the values from dictionary using for loop
d = {"area":"kudlu","city":"bangalore"}
for value in d.values():
    print(value)

kudlu
bangalore

In [12]:
# print the values and key from dictionary using for loop
d = {"area":"kudlu","city":"bangalore"}
for value, key in d.items():
    print("key is ", key, "value is", value)

key is  kudlu value is area
key is  bangalore value is city

In [13]:
d = {"area":100,"city":20}
for value, key in d.items():
    print("key is ", key, "value is", value*2)

key is  100 value is areaarea
key is  20 value is citycity

In [15]:
# multiple for loop for multiple list
lst11 = ['Red', 'Green', 'Blue']
lst12 = ['apple', 'Mango', 'kiwi']

for i in lst11:
    for j in lst12:
        print(i,j)

Red apple
Red Mango
Red kiwi
Green apple
Green Mango
Green kiwi
Blue apple
Blue Mango
Blue kiwi

In [16]:
lst13 = ['one', 'Two', 'Three']
lst14 = [1,2,3]

for i in lst13:
    for j in lst14:
        print(i, j)

one 1
one 2
one 3
Two 1
Two 2
Two 3
Three 1
Three 2
Three 3

# Functions
    - user defined funtions
    - built-in functions
    - Aggergate funtions -> lambda

In [23]:
# user defined functions to print event num from list
def even_num(lst):
    len1 = len(lst) - 1
    for i in range(0, len1):
        if lst[i+1] % 2 == 0:
            print(i,"is even")
            
lst = [1,2,3,4,5,6,7,8,9,10]
print(even_num(lst))

0 is even
2 is even
4 is even
6 is even
8 is even
None

In [25]:
def addValue(a, b):
    print(a + b)

a = int(input("Enter a"))
b = int(input("Enter b"))
addValue(a, b)

Enter a 10
Enter b 20

30

In [27]:
def perimerter(s):
    res = 4 * s
    return res
s = int(input("Enter sides"))
value = perimerter(s)
print(value, "is the perimeter")

Enter sides 10

40 is the perimeter

In [40]:
# (*) arbitary arguments
def chocolate(*choco):
    print("cholocate is ", choco[0])
chocolate('silk', 'kitKat', 'Milky Bar')

cholocate is  silk

In [44]:
# keyword arguments syntax:key='value'
def chocolate(choco1, choco2, choco3):
    print("cholocate is", choco1)
chocolate(choco1='silk', choco2='kitKat', choco3='Milky Bar')

cholocate is silk

In [55]:
# (**) arbitary keyword arguments(**kwargs)
def chocolate1(**choco):
    print("cholocate is " + choco['choco4'])
chocolate1(choco4='silk', choco5='kitKat', choco6='Milky Bar')

cholocate is silk

In [56]:
# default parameter value
def chocolate2(choco="silk"):
    print('Chocolatem is', choco)
chocolate2()

Chocolatem is silk

In [57]:
## No agrs and no return
def NoArgsNoReturn():
    print()
NoArgsNoReturn();

In [58]:
## No Args with return value
def NoArgswithReturnValue():
    print("Hello")
NoArgswithReturnValue()

Hello

In [60]:
## with Args and No Return value
def ArgsWithoutReturnVal(a):
    print()
ArgsWithoutReturnVal(a=10)

In [62]:
## with Args and with Return value
def ArgsWithoutReturnVal(a):
    return a
res = ArgsWithoutReturnVal(a=10)
print(res)

10

# Doc Strings (__doc__)
    - must be in the next to the function definition.
    - doc strings nothing but the multiple comments.
    - also explains about the function

In [66]:
## doc strings 
def area_of_circle(r):
    ''' This is returns the area of circle '''
    area = 3.14 * r ** 2
    return area
area_of_circle(4)
print(area_of_circle.__doc__) # can be accesed like this line.

 This is returns the area of circle

In [67]:
# task 
# create a function to get the input and return the value is odd / even
# create list of 10 odd / even values mingled seperate the odd values in one list and even in another list

In [3]:
# create a function to get the input and return the value is odd / even
def oddoreven(val):
    if val % 2 == 0:
        return "even"
    else:
        return "odd"

value = int(input("enter val"))
res = oddoreven(value)
print(res)

enter val 2

even

In [80]:
# create list of 10 odd / even values mingled seperate the odd values in one list and even in another list

In [4]:
lst = [1,2,3,4,5,6,7,8,9,10]
even = []
odd=[]

def find_even(lst):
    for i in lst:
        if i % 2 == 0:
            even.append(i)
    print("evenn list", even)

def find_odd(lst):
    for i in lst:
        if i % 2 != 0:
            odd.append(i)
    print("odd list", odd)

find_even(lst)
find_odd(lst)

evenn list [2, 4, 6, 8, 10]
odd list [1, 3, 5, 7, 9]

## lamda functions
 - comes under aggregate function
 - one line function with no function name
 - is maximum short period of time.
 - only for the simple calcuations

In [5]:
# syntax: 
# variable = lambda args : Expression

# it can have any number of args but should have only one expression

In [6]:
val = lambda a,b : a + b
val(10, 5)

15

In [8]:
value = lambda a,b,c : a * b * c
value(10, 5, 10)

500

In [14]:
res = lambda s : 4 * s
res(20)

80

## Filters
- used to filter out the required values from the iterable objects
- condition based -> do the filter according to the condition

In [21]:
lst = [1,2,3,4,5,6,7,8,9,10]

# a function for even values
def evennum(m):
    if m % 2 == 0:
        return m

print(list(filter(evennum, lst)))

[2, 4, 6, 8, 10]

In [34]:
# filter with the lambda
values = lambda m: m % 2 == 0
print("even lst",list(filter(values, lst)))

# implementstation in one line
print("odd lst", list(filter(lambda m: m % 2 != 0, lst)))

even lst [2, 4, 6, 8, 10]
odd lst [1, 3, 5, 7, 9]

## Map
 - Perfoem any mathematical calculation on the list of values or filtered values can go with map

In [35]:
## Map function

def double(p):
    return 2 * p
print(double(2))

4

In [36]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
print(list(map(double, lst)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [45]:
from functools import reduce

def reduce1(x, y):
    return x * y

print(reduce(reduce1, lst))

3628800

## Reduce
- Reduces the multiple values into a single values

In [40]:
# map using the lambda
print(list(map(lambda a: a * 2, lst)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [48]:
# reduce using the lambda function
print(reduce(lambda a, b: a + b, lst))

55

In [55]:
num = int(input("Enter a number: "))

factorial = 1
if num < 0:
   print("No factorials")
elif num == 0:
   print("The factorial of", n ,"is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number:  0

The factorial of {n} is 1